# Data Analysis with Pandas
## Videogame Sales
### Seth Mcfeeters

In [8]:
import pandas as pd

df = pd.read_csv('vgsales.csv')
print (df.head(10))

   Rank                       Name  ... Other_Sales  Global_Sales
0     1                 Wii Sports  ...        8.46         82.74
1     2          Super Mario Bros.  ...        0.77         40.24
2     3             Mario Kart Wii  ...        3.31         35.82
3     4          Wii Sports Resort  ...        2.96         33.00
4     5   Pokemon Red/Pokemon Blue  ...        1.00         31.37
5     6                     Tetris  ...        0.58         30.26
6     7      New Super Mario Bros.  ...        2.90         30.01
7     8                   Wii Play  ...        2.85         29.02
8     9  New Super Mario Bros. Wii  ...        2.26         28.62
9    10                  Duck Hunt  ...        0.47         28.31

[10 rows x 11 columns]

In [17]:
print(df.columns)

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

## Most common publisher of video games is Electronic Arts

In [16]:
print(df['Publisher'].mode())

0    Electronic Arts
dtype: object

## Most common platform is Nintendo DS

In [18]:
print(df['Platform'].mode())

0    DS
dtype: object

## Most common genre is action

In [28]:
print(df['Genre'].mode())

0    Action
dtype: object

## Top 20 highest grossing games

In [36]:
top_20 = df.sort_values(by='Global_Sales', ascending= False)
top_20 = top_20[['Name', 'Global_Sales']]
top_20.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## North American sales median is $800,000

In [38]:
df['NA_Sales'].median()

0.08

In [47]:
initial_data = df['NA_Sales'].median()
initial_data.head(10)

AttributeError: 'numpy.float64' object has no attribute 'head'

add this box right here....